<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}"/>
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header>
      <hgroup>
        <h1>James Thompson</h1>
        <h2>Learning &mdash; Teaching &mdash; Building</h2>
      </hgroup>
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      &copy; 2020 &hybull; James Thompson. All Rights Reserved.
    </footer>
    {{ghost_foot}}
  </body>
</html>